# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Local Data (Don't push your raw spreadsheets to Git)
data/
*.csv
*.xlsx

# Secrets & Config
.env
.cl/
chainlit.md
.gcp_credentials.json

# IDEs
.vscode/
.idea/
